.seven-section {
  min-height: 1730px;
}
.seven-section__container {
}
.seven-section__gallery-block {
  display: flex;
}
.gallery-block {
}
.gallery-block__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.gallery-block__gallery-text-block {
  display: flex;
  margin: 60px 0px 40px 0px;
}
.gallery-text-block {
}
.gallery-text-block__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 237px;
}
.gallery-text-block__title {
  font-size: 70px;
  font-weight: 700;
  color: #022ABF;
}
.gallery-text-block__subtitle {
  font-size: 15px;
  font-weight: 700;
  color: #9D9D9D;
}
.gallery-block__images-block {
  display: flex;
}
.images-block {
}
.images-block__wrapper {
  display: flex;
  flex-direction: column;
}
.images-block__first-row {
  display: flex;
  margin: 0px 0px 24px 0px;
}
.first-row {
}
.first-row__image-one {
  flex: 0 1 50%;
}

.first-row__image-one img {
  max-width: 100%;
}

.first-row__image-two {
  flex: 0 1 50%;
}

.first-row__image-two img {
  max-width: 100%;
}

.images-block__second-row {
  display: flex;
}

.second-row__image-one {
  flex: 0 1 100%;
}

.second-row__image-one img {
  max-width: 100%;
}

.second-row {

}

/* PC */
@media (max-width: 1426px) {
  .seven-section {
    min-height: 1230px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  .seven-section {
    padding: 0px 0px 80px 0px;
  }

  .images-block__first-row {
    flex-direction: column;
  }

  .first-row__image-one img {
    margin: 0px 0px 24px 25px;
  }

  .first-row__image-one {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
  }

  .first-row__image-two {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    justify-content: center;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  .seven-section {
    min-height: 1040px;
    padding: 0px 0px 60px 0px;
  }

  .gallery-text-block__title {
    font-size: 44px;
  }
  
  .images-block__first-row {
    flex-direction: column;
  }

  .first-row__image-one {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    margin: 0px 0px 0px 30px;
  }
  
  .first-row__image-one img {
    margin: 0px 0px 24px 0px;
  }
  
  .first-row__image-one {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
  }

  .first-row__image-two {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    justify-content: center;
  }
}